= content_for(:content) do
  .content
    %h2
      = "Forms"

    %h3
      = "Input Types"
    = alchemy_form_for form_object do |form|
      = form.input  :text_input
      = form.input  :password_input,  :as => :password
      = form.input  :email_input,     :as => :email
      = form.input  :url_input,       :as => :url
      = form.input  :search_input,    :as => :search
      = form.input  :required_input,  :required => true
      = form.input  :info_input,      :as => :informative
      = form.input  :readonly_input,  :readonly => true
      = form.input  :disabled_input,  :disabled => true
      = form.input  :textarea,        :as => :text
      = form.input  :file_input,      :as => :file
      = form.input  :date_input,      :as => :date
      = form.input  :number_input,    :as => :integer
      = form.input  :range_input,     :as => :range
      = form.input  :select,          :as => :select
      = form.input  :multiselect,     :as => :select, :multiple => true
      = form.input  :checkbox,        :as => :check_boxes
      = form.input  :checkbox_horizontal, :as => :check_boxes, :horizontal => true
      = form.input  :checkbox_vertical,   :as => :check_boxes, :vertical => true
      = form.input  :radio_vertical,      :as => :radio_buttons, :vertical => true
      = form.input  :radio_horizontal,    :as => :radio_buttons, :horizontal => true

    %h3
      = "States"
    = alchemy_form_for form_object do |form|
      = form.input  :input_with_success,  :success => true
      = form.input  :input_with_warning,  :warning => true
      = form.input  :input_with_error,    :error   => true
