= content_for(:content) do
  %ul.main_elements
    %li
      %a{ :href => "http://convergeui.readthedocs.org/en/latest/" }
        = "ConvergeUI Official Documentation"
    %li
      = link_to "Login Page", user_session_path
    %li
      = link_to "Change Password", change_password_path
    %li
      %a{ "href" => "/buttons" }
        = "Buttons"
    %li
      %a{ "href" => "/form" }
        = "Forms"
    %li
      %a{ "href" => "/flash_messages" }
        = "Flash Messages"
    %li
      %a{ "href" => "/typography" }
        = "Typography"
    %li
      %a{ "href" => "/images" }
        = "Images and Icons"
    %li
      %a{ "href" => "/color" }
        = "Color Pallette"
