= content_for(:stylesheets_block) do
  = stylesheet_link_tag "compiled/login"

= content_for(:javascripts_block) do
  = javascript_include_tag "converge-ui/vendor/jquery/jquery-1.6.2.js"
  = javascript_include_tag "converge-ui/login.js"
  = javascript_include_tag "converge-ui/password.js"

= content_for(:footer) do
  = render :partial => "common/footer"
