= content_for(:stylesheets_block) do
  = stylesheet_link_tag "login"

= content_for(:javascripts_block) do
  = javascript_include_tag "manifests/login"

= content_for(:footer) do
  = render :partial => "common/footer"
