%p.copyright
  %a{ :href => root_path }
    = _("Return to Home Screen")
%ul
  %li
    %a{ "href" => "#" }
      #{_("Disclaimer")}
  %li
    %a{ "href" => "#" }
      #{_("Terms of Use")}
  %li
    %a{ "href" => "#" }
      #{_("Support")}

.ca.light_text.versioning
  #{_("ConvergeUI-Example")}
