= content_for(:appname) do
  = "Alchemy Workbench"

= content_for(:logo) do
  %a{ :href => root_path, :class => "logo" }
    = image_tag("embed/logo.png", :alt => _('Alchemy Workbench'))

= content_for(:tabs) do
  %ul
    %li
      %a{ :href => root_path, :class => 'selected' }
        Home
    %li
      %a{ :href => shell_index_path }
        Library
    %li
      %a{ :href => "#" }
        Install
    %li
      %a{ :href => "#" }
        Documentation
    %li
      %a{ :href => "#" }
        Get Involved
