= content_for(:appname) do
  = "Alchemy Workbench"

= content_for(:logo) do
  %a{ :href => root_path, :class => "logo" }
    = image_tag("embed/logo.png", :alt => _('Alchemy Workbench'))

= content_for(:tabs) do
  %ul
    %li
      %a{ :href => root_path, :class => ("selected" if current_main_tab == "home") }
        Home
    %li
      %a{ :href => form_index_path, :class => ("selected" if current_main_tab == "library") }
        Library
    %li
      %a{ :href => root_path }
        Install
    %li
      %a{ :href => root_path }
        Documentation
    %li
      %a{ :href => root_path }
        Get Involved
