= content_for(:appname) do
  = "ConvergeUI-Example"

= content_for(:logo) do
  %a{ :href => root_path, :class => "logo" }
    = image_tag("logo.png", :alt => _('Example Logo'))

= content_for(:tabs) do
  %ul
    %li
      %a{ :href => "#", :class => 'selected' }
        First Tab
    %li
      %a{ :href => "#" }
        Second Tab
    %li
      %a{ :href => "#" }
        Third Tab
    %li
      %a{ :href => "#" }
        Fourth Tab
    %li
      %a{ :href => "#" }
        Fifth Tab

= content_for(:widgets) do
  %a{ :href => "#", "class" => "header-widget" }
    = "Widget 1"
  %a{ :href => "#", "class" => "header-widget" }
    = "Widget 2"
  %ul.header-widget
    %li
      %a{ :href => "#" }
        = "Widget 3"
