= content_for(:content) do
  %div{ :style => "width: 400px; float: left;" }
    %div
      %i.search_icon_black          
      %span{ :style => "margin-left: 6px" }
        = ".search_icon_black"
    %div
      %i.edit_icon_black          
      %span{ :style => "margin-left: 6px" }
        = ".edit_icon_black"
    %div
      %i.x_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".x_icon_black"
    %div
      %i.add_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".add_icon_black"
    %div
      %i.gears_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".gears_icon_black"
    %div
      %i.machine_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".machine_icon_black"
    %div
      %i.lock_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".lock_icon_black"
    %div
      %i.unlock_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".unlock_icon_black"
    %div
      %i.progress_gear_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".progress_gear_icon_black"
    %div
      %i.discs_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".discs_icon_black"
    %div
      %i.circle_x_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".circle_x_icon_black"
    %div
      %i.play_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".play_icon_black"
    %div
      %i.stop_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".stop_icon_black"
    %div
      %i.camera_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".camera_icon_black"
    %div
      %i.key_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".key_icon_black"
    %div
      %i.circle_plus_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".circle_plus_icon_black"
    %div
      %i.details_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".details_icon_black"
    %div
      %i.refresh_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".refresh_icon_black"
    %div
      %i.power_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".power_icon_black"
    %div
      %i.terminal_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".terminal_icon_black"
    %div
      %i.computer_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".computer_icon_black"
    %div
      %i.help_tip_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".help_tip_icon_black"
    %div
      %i.machine_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".machine_icon_black"
    %div
      %i.machine_outline_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".machine_outline_icon_black"
    %div
      %i.warning_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".warning_icon_black"
    %div
      %i.plus_box_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".plus_box_icon_black"
    %div
      %i.bug_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".bug_icon_black"
    %div
      %i.shield_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".shield_icon_black"
    %div
      %i.check_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".check_icon_black"
    %div
      %i.clock_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".clock_icon_black"
    %div
      %i.gear_menu_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".gear_menu_icon_black"
    %div
      %i.download_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".download_icon_black"
    %div
      %i.down_arrow_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".down_arrow_icon_black"
    %div
      %i.right_arrow_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".right_arrow_icon_black"
    %div
      %i.package_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".package_icon_black"
    %div
      %i.errata_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".errata_icon_black"
    %div
      %i.system_group_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".system_group_icon_black"
    %div
      %i.collapse_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".collapse_icon_black"
    %div
      %i.favorites_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".favorites_icon_black"
    %div
      %i.dot_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".dot_icon_black"
    %div
      %i.left_arrow_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".left_arrow_icon_black"
    %div
      %i.selector_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".selector_icon_black"
    %div
      %i.validation_icon_black              
      %span{ :style => "margin-left: 6px" }
        = ".validation_icon_black"
  %div{ :style => "width: 400px; float: left;" }
    %div
      %i.search_icon_grey          
      %span{ :style => "margin-left: 6px" }
        = ".search_icon_grey"
    %div
      %i.edit_icon_grey          
      %span{ :style => "margin-left: 6px" }
        = ".edit_icon_grey"
    %div
      %i.x_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".x_icon_grey"
    %div
      %i.add_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".add_icon_grey"
    %div
      %i.gears_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".gears_icon_grey"
    %div
      %i.machine_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".machine_icon_grey"
    %div
      %i.lock_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".lock_icon_grey"
    %div
      %i.unlock_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".unlock_icon_grey"
    %div
      %i.progress_gear_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".progress_gear_icon_grey"
    %div
      %i.discs_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".discs_icon_grey"
    %div
      %i.circle_x_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".circle_x_icon_grey"
    %div
      %i.play_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".play_icon_grey"
    %div
      %i.stop_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".stop_icon_grey"
    %div
      %i.camera_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".camera_icon_grey"
    %div
      %i.key_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".key_icon_grey"
    %div
      %i.circle_plus_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".circle_plus_icon_grey"
    %div
      %i.details_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".details_icon_grey"
    %div
      %i.refresh_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".refresh_icon_grey"
    %div
      %i.power_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".power_icon_grey"
    %div
      %i.terminal_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".terminal_icon_grey"
    %div
      %i.computer_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".computer_icon_grey"
    %div
      %i.help_tip_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".help_tip_icon_grey"
    %div
      %i.machine_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".machine_icon_grey"
    %div
      %i.machine_outline_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".machine_outline_icon_grey"
    %div
      %i.warning_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".warning_icon_grey"
    %div
      %i.plus_box_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".plus_box_icon_grey"
    %div
      %i.bug_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".bug_icon_grey"
    %div
      %i.shield_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".shield_icon_grey"
    %div
      %i.check_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".check_icon_grey"
    %div
      %i.clock_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".clock_icon_grey"
    %div
      %i.gear_menu_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".gear_menu_icon_grey"
    %div
      %i.download_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".download_icon_grey"
    %div
      %i.down_arrow_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".down_arrow_icon_grey"
    %div
      %i.right_arrow_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".right_arrow_icon_grey"
    %div
      %i.package_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".package_icon_grey"
    %div
      %i.errata_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".errata_icon_grey"
    %div
      %i.system_group_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".system_group_icon_grey"
    %div
      %i.collapse_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".collapse_icon_grey"
    %div
      %i.favorites_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".favorites_icon_grey"
    %div
      %i.dot_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".dot_icon_grey"
    %div
      %i.left_arrow_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".left_arrow_icon_grey"
    %div
      %i.selector_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".selector_icon_grey"
    %div
      %i.validation_icon_grey              
      %span{ :style => "margin-left: 6px" }
        = ".validation_icon_grey"
