= content_for(:content) do
  %section.content
    %h1 Images and Icons

    %ul.page_nav
      %li
        %a{ "href" => "#elements" }
          = "Elements"

    %section
      %h2#elements.bottom_line Elements

      .example
        %div{ :style => "width: 300px; float: left;" }
          %div
            %i.search_icon-black          
            %span{ :style => "margin-left: 6px" }
              = ".search_icon-black"
          %div
            %i.edit_icon-black          
            %span{ :style => "margin-left: 6px" }
              = ".edit_icon-black"
          %div
            %i.x_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".x_icon-black"
          %div
            %i.add_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".add_icon-black"
          %div
            %i.gears_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".gears_icon-black"
          %div
            %i.machine_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".machine_icon-black"
          %div
            %i.lock_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".lock_icon-black"
          %div
            %i.unlock_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".unlock_icon-black"
          %div
            %i.progress_gear_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".progress_gear_icon-black"
          %div
            %i.discs_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".discs_icon-black"
          %div
            %i.circle_x_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".circle_x_icon-black"
          %div
            %i.play_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".play_icon-black"
          %div
            %i.stop_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".stop_icon-black"
          %div
            %i.camera_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".camera_icon-black"
          %div
            %i.key_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".key_icon-black"
          %div
            %i.circle_plus_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".circle_plus_icon-black"
          %div
            %i.details_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".details_icon-black"
          %div
            %i.refresh_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".refresh_icon-black"
          %div
            %i.power_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".power_icon-black"
          %div
            %i.terminal_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".terminal_icon-black"
          %div
            %i.computer_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".computer_icon-black"
          %div
            %i.help_tip_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".help_tip_icon-black"
          %div
            %i.machine_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".machine_icon-black"
          %div
            %i.machine_outline_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".machine_outline_icon-black"
          %div
            %i.warning_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".warning_icon-black"
          %div
            %i.plus_box_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".plus_box_icon-black"
          %div
            %i.bug_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".bug_icon-black"
          %div
            %i.shield_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".shield_icon-black"
          %div
            %i.check_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".check_icon-black"
        %div{ :style => "width: 300px; float: left;" }
          %div
            %i.clock_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".clock_icon-black"
          %div
            %i.gear_menu_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".gear_menu_icon-black"
          %div
            %i.download_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".download_icon-black"
          %div
            %i.down_arrow_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".down_arrow_icon-black"
          %div
            %i.right_arrow_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".right_arrow_icon-black"
          %div
            %i.package_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".package_icon-black"
          %div
            %i.errata_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".errata_icon-black"
          %div
            %i.system_group_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".system_group_icon-black"
          %div
            %i.collapse_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".collapse_icon-black"
          %div
            %i.favorites_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".favorites_icon-black"
          %div
            %i.dot_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".dot_icon-black"
          %div
            %i.left_arrow_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".left_arrow_icon-black"
          %div
            %i.selector_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".selector_icon-black"
          %div
            %i.validation_icon-black              
            %span{ :style => "margin-left: 6px" }
              = ".validation_icon-black"
          %div
            %i.search_icon-grey          
            %span{ :style => "margin-left: 6px" }
              = ".search_icon-grey"
          %div
            %i.edit_icon-grey          
            %span{ :style => "margin-left: 6px" }
              = ".edit_icon-grey"
          %div
            %i.x_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".x_icon-grey"
          %div
            %i.add_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".add_icon-grey"
          %div
            %i.gears_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".gears_icon-grey"
          %div
            %i.machine_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".machine_icon-grey"
          %div
            %i.lock_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".lock_icon-grey"
          %div
            %i.unlock_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".unlock_icon-grey"
          %div
            %i.progress_gear_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".progress_gear_icon-grey"
          %div
            %i.discs_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".discs_icon-grey"
          %div
            %i.circle_x_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".circle_x_icon-grey"
          %div
            %i.play_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".play_icon-grey"
          %div
            %i.stop_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".stop_icon-grey"
          %div
            %i.camera_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".camera_icon-grey"
          %div
            %i.key_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".key_icon-grey"
        %div{ :style => "width: 300px; float: left;" }
          %div
            %i.circle_plus_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".circle_plus_icon-grey"
          %div
            %i.details_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".details_icon-grey"
          %div
            %i.refresh_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".refresh_icon-grey"
          %div
            %i.power_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".power_icon-grey"
          %div
            %i.terminal_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".terminal_icon-grey"
          %div
            %i.computer_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".computer_icon-grey"
          %div
            %i.help_tip_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".help_tip_icon-grey"
          %div
            %i.machine_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".machine_icon-grey"
          %div
            %i.machine_outline_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".machine_outline_icon-grey"
          %div
            %i.warning_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".warning_icon-grey"
          %div
            %i.plus_box_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".plus_box_icon-grey"
          %div
            %i.bug_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".bug_icon-grey"
          %div
            %i.shield_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".shield_icon-grey"
          %div
            %i.check_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".check_icon-grey"
          %div
            %i.clock_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".clock_icon-grey"
          %div
            %i.gear_menu_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".gear_menu_icon-grey"
          %div
            %i.download_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".download_icon-grey"
          %div
            %i.down_arrow_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".down_arrow_icon-grey"
          %div
            %i.right_arrow_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".right_arrow_icon-grey"
          %div
            %i.package_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".package_icon-grey"
          %div
            %i.errata_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".errata_icon-grey"
          %div
            %i.system_group_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".system_group_icon-grey"
          %div
            %i.collapse_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".collapse_icon-grey"
          %div
            %i.favorites_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".favorites_icon-grey"
          %div
            %i.dot_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".dot_icon-grey"
          %div
            %i.left_arrow_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".left_arrow_icon-grey"
          %div
            %i.selector_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".selector_icon-grey"
          %div
            %i.validation_icon-grey              
            %span{ :style => "margin-left: 6px" }
              = ".validation_icon-grey"
