= content_for(:stylesheets_block) do
  = stylesheet_link_tag "compiled/converge-example"

= content_for(:javascripts_block) do
  = javascript_include_tag "converge-ui/lib/jquery/jquery-1.6.2.min.js"

= render :partial => "common/header"

= content_for(:footer) do
  = render :partial => "common/footer"

= render :file => 'layouts/converge-ui/shell_layout'
